{% case page.category %}
  {% when 'divulgacao-cientifica' %}{% assign title = "DIVULGAÇÃO CIENTÍFICA, CIÊNCIA E SOCIEDADE" %}
  {% when 'difusao-cultural' %}{% assign title = "DIFUSÃO CULTURAL" %}
  {% when 'redes-solidarias' %}{% assign title = "REDES SOLIDÁRIAS PARA COMUNIDADES E BAIRROS" %}
  {% when 'arte' %}{% assign title = "ARTE" %}
  {% when 'educacao' %}{% assign title = "RECURSOS EDUCACIONAIS E OCUPACIONAIS PARA IDOSOS, ADULTOS E CRIANÇAS" %}
  {% when 'epi' %}{% assign title = "FABRICAÇÃO DE APARATOS PARA SEGURANÇA SANITÁRIA" %}
  {% when 'dados' %}{% assign title = "MODELAGEM, COLETA E EXIBIÇÃO DE DADOS CIENTÍFICOS E SOCIAIS" %}
  {% when 'sistema-apoio-a-agricultores' %}{% assign title = "SISTEMAS DE PRODUÇÃO E APOIO A PEQUENOS AGRICULTORES" %}
  {% when 'distribuicao-mercadoria' %}{% assign title = "ESCOAMENTO, DISTRIBUIÇÃO DE MERCADORIAS E SISTEMAS DE DOAÇÃO" %}

{% endcase %}

<section class="list-wrapper breadcrumbs-container">
  <a href="{{ site.baseurl }}/" class="breadcrumb-item">HOME</a> >
  <a href=".." class="breadcrumb-item">{{ title }}</a> >
  <span class="breadcrumb-item breadcrumb-selected">{{ page.title }}</span>
</section>
