<title>{{ page.title }}</title>

{% if page.subtitle %}
  {% assign subtitle = page.subtitle %}
{% else %}
  {% assign subtitle = page.content | strip_html | truncatewords: 25 %}
{% endif %}

<meta name="description" content="{{site.title}} - {{subtitle}}">
<meta name="keywords" content="art, arte, latitude, rural, laboratorio, ciencia">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; img-src 'self' data:; media-src 'self'; frame-src player.vimeo.com freesound.org w.soundcloud.com www.soundcloud.com www.mixcloud.com www.youtube.com www.youtube-nocookie.com; frame-ancestors 'self'; script-src 'self' ajax.googleapis.com; font-src 'self' data: maxcdn.bootstrapcdn.com fonts.googleapis.com fonts.gstatic.com; style-src 'self' 'unsafe-inline' maxcdn.bootstrapcdn.com fonts.googleapis.com; base-uri 'self'; form-action 'self';">

<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/media/favicons/favicon.ico">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
        integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB"
        crossorigin="anonymous"></script>

{% if page.swipebox %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/swipebox.min.css">
  <script src="{{ site.baseurl }}/js/jquery.swipebox.min.js"></script>
{% endif %}
