<div id="menu-mobile">
  <i id="show-menu-mobile" class="menu-icon show-menu" aria-hidden="true">
    <img src="{{ site.baseurl }}/media/favicons/favicon_silo.png">
  </i>
  <a href="{{ site.baseurl }}/">
    <h2 class="main-title">{{ site.title | upcase}}:<br>{{ site.subtitle }}</h2>
  </a>
  <div id="menu-retratil-mobile" class="menu-hide">
    <div id="hide-menu-mobile" class="menu-icon hide-menu">✖</div>
    <a class="menu-title" href="{{ site.silo_url }}/" target="_blank">
      <div class="menu-logo"></div>
    </a>
    {% include menu-items.html %}
  </div>
</div>

<div id="menu" class="menu-hide">
  <a class="menu-title" href="{{ site.silo_url }}/" target="_blank">
    <div class="menu-logo"></div>
  </a>
  <div class="menu-container">
    {% include menu-items.html %}
  </div>
  <div id="menu-button" class="menu-icon fa fa-chevron-down"></div>
</div>

<script src="{{ site.baseurl }}/js/menu.js"></script>
