<section class="list-wrapper title-section fixed-header">
  <a href="{{ site.baseurl }}/">
    
  {% if page.permalink == '/' %}
  <img src="/media/images/covers/cover_home.png" alt="LABORATÓRIO DE EMERGÊNCIA | COVID 19:
SOLIDARIEDADE, EXPERIMENTAÇÃO E COLABORAÇÃO SOB CONDIÇÕES DE ISOLAMENTO" style="width: 100% ;">
 
   {% else %}
  <img src="/media/images/covers/cover_posts.png" alt="LABORATÓRIO DE EMERGÊNCIA | COVID 19:
SOLIDARIEDADE, EXPERIMENTAÇÃO E COLABORAÇÃO SOB CONDIÇÕES DE ISOLAMENTO" style="width: 100% ;">
 {% endif %}
 
  </a>
</section>
