<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include menu.html %}
    <div class="main-div">
      {% include title.html %}
      <section class="content-text content-container">
        <h2 class="list-title">{{ page.title }}</h2>
        <img src="{{ site.baseurl }}/{{ page.cover }}">
        {{ content }}
        {% if page.link-text %}
          <a href="{{ site.baseurl }}{{ page.link }}" target="_blank">
            [ {{ page.link-text }} ]
          </a>
        {% endif %}
      </section>
      <section class="list-wrapper">
       {% if page.permalink == '/perguntas-frequentes/' %}
       
       {% else %}
        <h2>Posts</h2>
        <div class="post-list">
          {% assign slug = page.permalink | replace: '/', '' %}
          {% assign posts = site.posts | where:"category", slug %}
          {% for post in posts %}
            {% assign pCover = site.baseurl | append: '/' | append: post.cover %}
            <a class="list-item" href="{{ site.baseurl }}{{ post.url }}">
              <div class="list-item-image hover-contrast"
                   style="background-image: url('{{ pCover }}');"></div>
              <div class="tint-overlay"></div>
              <div class="list-item-title">{{ post.title }}</div>
            </a>
          {% endfor %}
        </div>

         {% endif %}
      </section>
      <section class="list-wrapper">
       {% if page.permalink == '/perguntas-frequentes/' %}
       
       {% else %}
        <h2>Colaboradoras</h2>
        <ul class="people-list">
          {% for person in page.people %}
            <li class="project-person">
              <a href="{{ person.url }}" target="_blank">{{ person.name }}</a>
            </li>
          {% endfor %}
        </ul>
         {% endif %}
        {% include share.html %}
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
